body {
    position: static;
    display: block;
    background-color: #1a1a1a;
    color: white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 100%;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.ui-dialog .ui-dialog-buttonpane { 
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none;
}

#poker-main {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

/* Main lobby */

#lobby-footer {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: -13%;
    font-size: 90%;
    left: 0%;
    text-align: center;
}

#lobby-footer > .fb-like {
    bottom: 0%;
    display: inline;
    padding-right: 3%;
}

#lobby-footer a {
    bottom: 0%;
    display: inline;
    padding-right: 3%;
    color: #f0f0f0;
}



#lobby-main {
    position: absolute;
    left: 50%;
    top: 50%;
}

#cashier {
    display: none;
}
#table-ring {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

#lobby-head1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 28%;
    height: 30%;
    text-align: center;
}

#lobby-head2 {
    position: absolute;
    top: 0%;
    left: 28%;
    width: 44%;
    height: 30%;
    text-align: center;
}

#lobby-head3 {
    position: absolute;
    top: 0%;
    left: 72%;
    width: 28%;
    height: 30%;
    text-align: center;
}

#lobby-help {
    display: none;
}

#lobby-board {
    position: absolute;
    width: 100%;
    height:20%;
    cursor: pointer;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/leaderboard.png");
}

#lobby-match {
    position: absolute;
    width: 100%;
    height: 52%;
    bottom: 4%;
    cursor: pointer;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/auto.png");
} 

#lobby-logo {
    position: absolute;
    width: 100%;
    height: 39%;
    top: 0%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/title3.png");
}

#lobby-leader {
    position: absolute;
    bottom: 2%;
    left: 4%;
    width: 92%;
    height: 64%;
    border: 1px black;
    font-size: 110%;
    text-align: left;
    background-color: #f0f0f0;
}

#lobby-countdown {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 1.2em;
    font-size: 100%;
    text-align: center;
    color: white;
    white-space: pre;
}

#lobby-loginout {
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 28%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login {
    background-image: url("/img/login.png");
}

.logout {
    background-image: url("/img/logout.png");
}

#lobby-cashier {
    position: absolute;
    top: 39%;
    left: 0%;
    width: 100%;
    height: 28%;
    margin: 0 auto;
    text-align: center;
    display: none;
    cursor: pointer;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/cashier.png");
}

#lobby-count {
    position: absolute;
    height: 1.2em;
    width: 100%;
    top: 0%;
    color: #f0f0f0;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    white-space: pre;
}

#lobby-name {
    position: absolute;
    bottom: 18%;
    font-size: 110%;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
}

#lobby-chips {
    position: absolute;
    bottom: 2%;
    font-size: 110%;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
}

#lobby-logout {
    position: absolute;
    bottom: 3%;
    width: 100%;
    font-size: 80%;
    text-align: center;
    cursor: pointer;
    color: #f0f0f0;
}

/*
.tab-info {
  display: none;
}
*/

.table-box {
    position: absolute;
    box-sizing: border-box;
    background-color: #f0f0f0;
    overflow-y: scroll;
    width: 100%;
    height: 100%;

}

.table-box .red {
    color: red;
}

#ring-info {
    position: absolute;
    font-size: 120%;
    width: 65%;
    height: 46%;
    left: 0%;
    bottom: 0%;
    text-align: left;
}

/*
#ring-info .table-box{
  width: 100%;
  height: 100%;
}
*/

/*
#social-info .table-box {
  width: 30%;
  height: 66%;
  text-align: center;
}

#social-info .table-box tbody td.block.yes {
  color: red;
}
*/

/*
#chat-header {
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100%;
  height: 12%;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/chat.png");
}
*/

#main-chat {
    top: 1%;
    left: 1%;
    position: absolute;
    width: 98%;
    height: 89%;
    color: black;
    background-color: #f0f0f0;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 90%;
}

#main-chat > .chat-msg {
    position: relative;
    background-color: lightblue;
    width: 100%;
    height: 23.6%;
    margin-top: 1%;
    border-radius: 4%;
    overflow: hidden;
    font-size: 90%;
}

#main-chat > .chat-msg > .chat-content {
    position: relative;
    display: inline;
}

/*
#main-chat > .chat-msg > .chat-content > span {
    position: relative;
    display: inline-block;
}
*/

#main-chat > .chat-msg > .chat-pic {
    position: relative;
    display: block;
    float: left;
    margin: 1%; 
    width: 19%;
    height: 85%;
    border-radius: 50%;
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
}

#social-form {
    position: absolute;
    width: 96%;
    height: 1.3em;
    left: 0%;
    bottom: 0%;
}

#social-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
    background-color: white;
    font-size: 100%;
}

.main-box {
    position: absolute;
    box-sizing: border-box;
    width: 30%;
    bottom: 0%;
    left: 70%;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.main-box .box-header {
    position: absolute;
    box-sizing: border-box;
    height: 14%;
    width: 100%;
    background-color: #3e6680;
    text-align: center;
    padding-top: 3%;
    font-size: 84%;
}

.main-box .box-footer {
    position: absolute;
    box-sizing: border-box;
    width: 90%;
    left: 5%;
    height: 14%;
    bottom: 4%;
    text-align: center;
    color: white;
    background-color: #076321;
    font-size: 100%;
    cursor: pointer;
}

#social-box {
    position: absolute;
    height: 46%;
    width: 35%;
    bottom: 0%;
    left: 65%;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.table-box table {
    width: 100%;
    font-size: 90%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-box tr {
    white-space: nowrap;
}

.table-box thead tr {
    color: black;
    background-color: #ececec;
    cursor: pointer;
}

.table-box thead th {
    text-align: center;
    background-color: #f7f7f7;
}

.table-box tbody tr {
    color: #096427;
    cursor: pointer;
}

.table-box tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.table-box tbody tr.select {
    background-color: #787878;
    color: #f7f7f7;
}

.lobby-tab {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: #3e3737;
    text-align: center;
    border: 1px solid black;
    color: #f0f0f0;
    cursor: pointer;
    white-space: nowrap;
    font-size: 100%;
}

.lobby-tab.tab-hover {
    background-color: #594d4e;
}

.lobby-tab.select {
    background-color: #167292;
}

#main-tabs {
    position: absolute;
    top: 20%;
    height: 7%;
    width: 100%;
}

#main-tabs .lobby-tab {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 33.33%;
}

#tabs>[type=game] {
    position: absolute;
    height: 6%;
    width: 100%;
    font-size: 72%;
}

#game-tabs1 {
    position: absolute;
    top: 30%;
}

#game-tabs2 {
    top: 36%;
}

#game-tabs3 {
    top: 42%;
}

#game-tabs4 {
    top: 48%;
}

#tabs>[type=game] .lobby-tab {
    position: relative;
    display: inline-block;
    height: 100%;
}

/* game tabs  */

#all-tab {
    width: 6%;
}

#dealers-tab {
    width: 15%;
}

#holdem-tab {
    width: 10%;
}

#holdemjokers-tab {
    width: 19%;
}

#pineapple-tab {
    width: 10%;
}

#crazypine-tab {
    width: 16%;
}

#omaha-tab {
    width: 9%;
}

#omahahilo-tab {
    width: 15%;
}

#omahafive-tab {
    width: 15%;
}

#omahafivehilo-tab {
    width: 18%;
}

#courcheval-tab {
    width: 12%;
}

#courchevalhilo-tab {
    width: 17%;
}

#fivedraw-tab {
    width: 14%;
}

#drawjokers-tab {
    width: 24%;
}


#drawdeuces-tab {
    width: 19%;
}

#singledraw27-tab {
    width: 15%;
}

#tripledraw27-tab {
    width: 15%;
}

#singledrawa5-tab {
    width: 15%;
}

#tripledrawa5-tab {
    width: 15%;
}

#sevenstud-tab {
    width: 13%;
}

#razz-tab {
    width: 8%;
}

#sevenstudhilo-tab {
    width: 16%;
}

#sevenstudjokers-tab {
    width: 17.5%;
}

#highchicago-tab {
    width: 13%;
}

#ftq-tab {
    width: 15.5%;
}

#bitch-tab {
    width: 11%;
}

#badugi-tab {
    width: 9%;
}

#badacey-tab {
    width: 9%;
}

#badeucy-tab {
    width: 9%;
}
