.table[chair-count='6'] .seat[pos='0'] .button {
  left: 58%;
  top: 63%;
}
.table[chair-count='6'] .seat[pos='1'] .button {
  left: 28%;
  top: 59%;
}
.table[chair-count='6'] .seat[pos='2'] .button {
  left: 17%;
  top: 35%;
}
.table[chair-count='6'] .seat[pos='3'] .button {
  left: 38%;
  top: 24%;
}
.table[chair-count='6'] .seat[pos='4'] .button {
  left: 76%;
  top: 33%;
}
.table[chair-count='6'] .seat[pos='5'] .button {
  left: 74%;
  top: 56%;
}

