
.tour {
  position: absolute;
  display: block;
  height: 30em;
  width: 40em;
  background-color: #1a1a1a;
  border: 1px solid black;
  color: white;
}

.tour-logo {
  position: absolute;
  height: 18.564%;
  width: 26%;
  top: 3%;
  left: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/logo.png");
}

.tour-class {
  position: absolute;
  font-size: 100%; 
  top: 4%;
  width: 55%;
  left: 33%;
  font-size: 160%;
  text-align: center;
}

.tour-buyin {
  position: absolute;
  height: 20%;
  width: 55%;
  top: 11.5%;
  left: 33%;
  font-weight: bold;
  text-align: center;
}

.tour-buyin span {
  position: relative;
  display: inline-block;
  padding-right: 1%;
  font-size: 100%;
}

.tour-state {
  position: absolute;
  width: 55%;
  top: 17%;
  left: 33%;
  text-align: center;
}

.tour-state span {
  position: relative;
  display: inline-block;
  padding-right: 1%;
  font-size: 100%;
}

.tour-header {
  position: absolute;
  width: 63%;
  height: 5%;
  top: 24%;
  left: 1.4%;
  text-align: left;
  background-color: #3E6680;
  padding-top: .6%;
  padding-left: 2%;
  border: 1px solid black;

}
.tour-sum {
  position: absolute;
  height: 33%;
  width: 64.5%;
  top: 30%;
  left: 1.4%;
  color: black;
  background-color: white;
  border: 1px solid black;

}
.tour-start {
  position: absolute;
  top: 5%;
  left: 2%;

}
.tour-end {
  position: absolute;
  top: 20%;
  left: 2%;
}

.tour-enroll {
  position: absolute;
  top: 37%;
  left: 2%;
}

.tour-prizes {
  position: absolute;
  height: 100%;
  width: 41.4%;
  left: 58.6%;
  padding-top: 2%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tour-prizes div {
  position: relative;
  width: 100%;
  height: 1em;
  border: 1px solid black;
}

.tour-prizes div span {
  position: absolute;
  width: 80%;
  height: 100%; 
}

.tour-prizes span:nth-child(2) {
  text-align: right;
}

.tour-tables {
  position: absolute;
  height: 33%;
  width: 37%;
  bottom: 1.4%;
  left: 1.4%;
  background-color: white;
  border: 1px solid black;
}

.tour-detail {
  position: absolute;
  height: 33%;
  width: 26%;
  bottom: 1.4%;
  left: 39.9%;
  background-color: white;
  border: 1px solid black;

}

.tour-players {
  position: absolute;
  height: 74%;
  width: 30.8%;
  bottom: 1.4%;
  right: 1.4%;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;

}

.tour-observe {
  position: absolute;
  height: 16%;
  width: 90%;
  bottom: 2%;
  left: 5%;
  background-color: #076321;
  color: white;
  font-size: 90%;
}

.tour-tables .table-box {
  width: 100%;
  height: 100%;
  font-size: 90%;
}

.tour-players .table-box {
  width: 100%;
  height: 100%;
  font-size: 80%;
}

