
body {
  position: static;
  display: block;
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#poker-main { }

#welcome {
  position: absolute;
  top: 15%;
  right: 4.5%;
  font-size: 90%;
}

#username {
  position: relative;
  display: inline-block;
}

#logout {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.lobby-modal { 
  position: absolute;
  display: none;
  z-index: 200;
  height: 50%;
  width: 50%;
  top: 16%;
  left: 25%;
  border: 2px solid #900000; 
  background-color: white;
  font-size: 90%;
}

.big-modal {
  position: absolute;
  display: none;
  z-index: 200;
  height: 68%;
  width: 60%;
  top: 16%;
  left: 20%;
  border: 2px solid #900000;
  font-size: 90%;
  display: none;
}

#signup-form,
#login-form {
  position: absolute;
  width: 100%;
  height: 100%;
}

#signup-form input:valid,
#login-form input:valid { 
  outline: 5px solid green;
}

/*
#login-form input:invalid { 
  outline: 5px dashed red; 
}
*/

#signup-form input, 
#login-form input { 
  position: absolute;
  width: 54%; 
  height: 1.8em; 
  left: 38%;
}

#signup-form div,
#login-form div {
  width: 32%;
  text-align: right;
  color: black;
}

#login-name {
  position: absolute;
  top: 16%;
} 

#label-name {
  position: absolute;
  top: 16%;
}

#login-pass {
  position: absolute;
  top: 30%;
}

#label-pass {
  position: absolute;
  top: 30%;
}

#login-create {
  position: absolute;
  top: 50%;
  left: 38%;
  width: 54%;
  height: 2em;
  text-align: center;
}

/* signup form */

#signup-name, #signup-un {
  position: absolute;
  top: 16%;
}

#signup-pass, #signup-pw {
  position: absolute;
  top: 30%;
}

#confirm-pass, #signup-cp {
  position: absolute;
  top: 44%;
}

#signup-email, #signup-em {
  position: absolute;
  top: 58%;
}

.modal-header {
  position: absolute;
  top: 5%;
  width: 100%;
  color: black;
  text-align: center;
}

.modal-mes {
  position: absolute;
  top: 36%;
  width: 100%;
  text-align: center;
  color: black;
}

.modal-ok {
  position: absolute;
  bottom: 8%;
  left: 22%;
  height: 14%;
  width: 22%;
}

.modal-ok.center {
  left: 39%;
}

.modal-cancel {
  position: absolute;
  bottom: 8%;
  right: 22%;
  height: 14%;
  width: 22%;
}

/* Cashier */

#cashier { 
  background-color: #1a1a1a;;
}

#cashier .head{ 
  padding-top: .4em;
  padding-bottom: .4em;
  background-color: #594d4e;
  color: white;
  text-align:center;
}

.cash-cat {
  position: absolute;
  left: 0%;
  text-align: left;
  padding-left: .4em;
  padding-top: .4em;
  color: black;
}

.cash-det {
  position: absolute;
  color: black;
}

#cash-one .cash-det {
  text-align: left;
  padding-left: 1.4em;
  padding-top: 2em;
}

#cash-two .cash-det {
  text-align: right;
  right: 0%;
  padding-right: .4em;
  padding-top: .4em;
}

.cash-block {
  background-color: #F0F0F0;
  color: white;
}

/* casher columns */

#cash-one > * {
  position: absolute;
  font-size: 86%;
  width: 34%;
  left: 2%;
  border: 1px solid black;
}

#cash-two > * {
  position: absolute;
  font-size: 86%;
  width: 34%;
  left: 38%;
  border: 1px solid black;
}

#cash-three > button {
  position: absolute;
  font-size: 86%;
  height: 10%;
  width: 24%;
  left: 74%;
  cursor: pointer;
  color: white;
  font-size: 90%;
  border: 1px solid black;
}

#cash-close {
  position: absolute;
  height: 8%;
  width: 8%;
  top: 2%;
  right: 1%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/buttons/close.png");
}

#cash-head {
  position: absolute;
  width: 100%;
  top: .5em;
  text-align: center;
  font-size: 180%;
}

#pers-head {
  top: 20%;
}

#cash-user {
  height: 20%;
  top: 28%;
}

#cash-email {
  height: 20%;
  top: 48%;  
}

#cash-deposit {
  height: 28%;
  top: 68%;  
}

/* ctwo */

#acct-head {
  top: 20%;
}

#real-head {
  top: 30%;  
}

/*

#real-avail {
  top: 38%;
  height: 8%;
}

#real-inplay {
  top: 46%;
  height: 8%;
}

#real-total {
  top: 54%;
  height: 8%;
  background-color: lightgrey;
}

*/

#play-head {
  top: 30%;  
}

#play-avail {
  top: 38%;
  height: 8%;
}

#play-inplay {
  top: 46%;
  height: 8%;
}

#play-total {
  top: 54%;
  height: 8%;
  background-color: lightgrey;
}

/*

#play-head {
  top: 64%;
}

#play-avail {
  top: 72%;
  height: 8%;
}

#play-inplay {
  top: 80%;
  height: 8%;
}

#play-total {
  top: 88%;
  height: 8%;
  background-color: lightgrey;
}

*/

/* cashier cthree */

#cash-reload {
  top: 25%;
  background-color: #900000;
}

/*
#cash-buy {
  top: 25%;
  background-color: #900000;
}
*/

#cash-out {
  top: 36%;
  background-color: #900000;
}
#cash-hist {
  top: 54%;
  background-color: #076321;
}
#cash-tran {
  top: 65%;
  background-color: #076321;
}
#cash-leave {
  top: 76%;   
  background-color: #414141;
}

/* Main lobby */

#lobby-main {
  position: absolute;
  display: block;
  width: 94%;
  height: 100%;
  left: 3%;
  top: 1.4%;
}

#table-ring {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

/*
#lobby-header {
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: #1a1a1a;
}
*/

#lobby-logo {
  position: absolute;
  top: 0%;
  left: 1%;
  width: 44%;
  height: 44%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/logo.png");
}

#lobby-news {
  position: absolute;
  height: 20%;
  width: 32%;
  left: 45%;
  top: .4%;
  color: white;
}

#news-head {
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  }

#news-body {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 100%;
  height: 70%;
  font-size: 74%;
  text-align: center;
}

#lobby-red {
  position: absolute;
  height: 8%;
  width: 20%;
  top: 6%;
  right: 2%;
  border: 1px solid black;
  background-color: #900000;
  text-align: center;
  color: #f0f0f0;
  font-size: 120%;
  cursor: pointer;
}

#lobby-clock {
  position: absolute;
  top: 1.4%;
  right: 7%;
  color: #f0f0f0;
  font-size: 100%;
}

.tab-info {
  display: none;
}

.table-box {
  position: absolute;
  box-sizing: border-box;
  bottom: 0%;
  background-color: #f0f0f0;
  overflow-y: scroll;
}

#ring-info .table-box {
  width: 70%;
  height: 42%;
}

#tour-info .table-box {
  width: 70%;
  height: 66%;
}

#sit-info .table-box {
  width: 70%;
  height: 66%;
}

#hydra-info .table-box {
  width: 70%;
  height: 48%;
}

#hydra-detail {
  position: absolute;
  top: 32%;
  width: 84%;
  left: 8%;
  text-align: center;
  color: white;
  font-size: 100%;
}

#social-info .table-box {
  width: 30%;
  height: 66%;
  text-align: center;
}

#social-info .table-box tbody td.block.yes {
  color: red;
}

.social-chat {
  position: absolute;
  width: 70%;
  height: 60%;
  bottom: 6%;
  right: 0%;
  background-color: white;
  color: black;
  overflow-y: scroll;
}

#social-info #social-input {
  position: absolute;
  width: 70%;
  height: 6%;
  bottom: 0%;
  right: 0%;
  background-color: white;
}


#about-tabs {
  position: absolute;
  top: 27%;
  width: 100%;
  height: 7%;
}

#about-tabs .lobby-tab {
  position: relative;
  display: inline-block;
  height: 100%;
}

#about-tabs #soft-tab {
  width: 50%;
}

#about-tabs #contact-tab {
  width: 50%;
}

.about-box {
  position: absolute;
  width: 100%;
  height: 300%;
  top: 34%;
  border: 0;
}

.main-box {
  position: absolute;
  box-sizing: border-box;
  width: 30%;
  bottom: 0%;
  left: 70%;
  background-color: #f0f0f0;
  border: 1px solid black;
}

.main-box .box-header {
  position: absolute;
  box-sizing: border-box;
  height: 14%;
  width: 100%;
  background-color: #3e6680;
  text-align: center;
  padding-top: 3%;
  font-size: 84%;
}

.main-box .box-footer {
  position: absolute;
  box-sizing: border-box;
  width: 90%;
  left: 5%;
  height: 14%;
  bottom: 4%;
  text-align: center;
  color: white;
  background-color: #076321;
  font-size: 100%;
  cursor: pointer;
}

#tour-box {
  height: 73%;
}

#tour-box .box-header {
  height: 15%;
  font-size: 90%;
}

#tour-box .lob-enroll {
  position: absolute;
  width: 90%;
  left: 5%;
  text-align: center;
  top: 28%;
  color: black;
}

#tour-box .lob-start {
  position: absolute;
  width: 90%;
  left: 5%;
  text-align: center;
  top: 20%;
  color: black;
}

#tour-box #reg-tour {
  position: absolute;
  height: 8%;
  width: 90%;
  left: 5%;  
  background-color: #076321;
  color: white;
  bottom: 11%;
}

#tour-box #lob-tour {
  position: absolute;
  height: 8%;
  width: 90%;
  left: 5%;
  bottom: 2%;  
  background-color: #076321;
  color: white;  
}

#ring-box {
  height: 49%;
}

#ring-box .table-box {
  position: absolute;
  width: 100%;
  height: 72%;
  top: 14%;
  cursor: default;
}

#hydra-box {
  height: 55%;
}

#hydra-box .box-header,
#hydra-box .box-footer {
  height: 12.4%;
}

.table-box table {
  width: 100%;
  font-size: 90%;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-box tr {
  white-space: nowrap;
}

.table-box thead tr {
  color: black;
  background-color: #ececec;
  cursor: pointer;
}

.table-box thead th {
  text-align: center;
  border: 1px solid black;
}

.table-box tbody tr {
  color: #096427;
  cursor: pointer;
}

.table-box tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.table-box tbody tr.select {
  background-color: #787878;
  color: #f7f7f7;
}

.lobby-tab {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  background-color: #3e3737;
  text-align: center;
  border: 1px solid black;
  color: #f0f0f0;
  cursor: pointer;
  white-space: nowrap;
}

.lobby-tab.tab-hover {
  background-color: #594d4e;
}

.lobby-tab.select {
  background-color: #937312;
}

#main-tabs {
  position: absolute;
  top: 20%;
  height: 7%;
  width: 100%;
}

#main-tabs .lobby-tab {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 33.33%;
}

#tabs > [type=game] {
  position: absolute;
  height: 6%;
  width: 100%;
  font-size: 72%;
}

#game-tabs1 {
  position: absolute;
  top: 27%;
}

#game-tabs2 {
  top: 33%;
}

#game-tabs3 {
  top: 39%;
}

#game-tabs4 {
  top: 45%;
}

#tabs > [type=game] .lobby-tab {
  position: relative;
  display: inline-block;
  height: 100%;
}

#money-tabs {
  position: absolute;
  top: 51%;
  height: 7%;
  width: 70%;
}

#money-tabs[info=tour],
#money-tabs[info=sit] {
  top: 27%;
}

#money-tabs[info=hydra] {
  top: 45%;
}

#money-tabs .lobby-tab {
  position: relative;
  display: inline-block;
  height: 100%;
}

#play-tab {
  width: 50%;
}

#real-tab {
  width: 50%;
}

#social-tabs {
  position: absolute;
  top: 27%;
  width: 100%;
  height: 7%;
}

#social-tabs .lobby-tab {
  position: relative;
  display: inline-block;
  height: 100%;
}

#social-tabs #help-tab {
  width: 33.33%;
}

#social-tabs #strat-tab {
  width: 33.33%;
}

#social-tabs #unmod-tab {
  width: 33.33%;
}

/* game tabs  */

#all-tab {
  width: 6%;
}

#dealers-tab {
  width: 15%;
}

#holdem-tab {
  width: 10%;
}

#holdemjokers-tab {
  width: 19%;
}

#pineapple-tab {
  width: 10%;
}

#crazypine-tab {
  width: 16%;
}

#omaha-tab {
  width: 9%;
}

#omahahilo-tab {
  width: 15%;
}

#omahafive-tab {
  width: 15%;
}
#omahafivehilo-tab {
  width: 18%;
}
#courcheval-tab {
  width: 12%;
}
#courchevalhilo-tab {
  width: 17%;
}
#fivedraw-tab {
  width: 14%;
}
#drawjokers-tab {
  width: 24%;
}


#drawdeuces-tab {
  width: 19%;
}

#singledraw27-tab {
  width: 15%;
}
#tripledraw27-tab {
  width: 15%;
}

#singledrawa5-tab {
  width: 15%;
}
#tripledrawa5-tab {
  width: 15%;
}
#sevenstud-tab {
  width: 13%;
}
#razz-tab {
  width: 8%;
}



#sevenstudhilo-tab {
  width: 16%;
}
#sevenstudjokers-tab {
  width: 17.5%;
}

#highchicago-tab {
  width: 13%;
}

#ftq-tab {
  width: 15.5%;
} 

#bitch-tab {
  width: 11%;
}

#badugi-tab {
  width: 9%;
}

#badacey-tab {
  width: 9%;
}
#badeucy-tab {
  width: 9%;
}


