/* Special buttons  */

.leave-all {
  position: absolute;
  display: none;
  height: 7%;
  width: 12.6%;
  top: 7%;
  right: 4%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/stand.png");

}

.seat .menu {
  position: absolute;
  display: none;
  z-index: 14;
  height: 9%;
  width: 18%;
  margin-top: 6%;
}

.seat .menuitem {
  position: absolute;
  z-index: 14;
  height: 50%;
  width: 100%;
  color: white;
  background-color: #666b76;
  border: 1px solid black;
}

.seat .get-chips {
  top: 1%;
}

.seat .leave-table {
  top: 50%;
}

/* Table  */

.table { 
  position: absolute;
}

.table-mod {
  position: absolute;
  display: none;
  z-index: 100;
  height: 40%;
  width: 50%;
  top: 25%;
  left: 25%;
  border: 2px solid #900000;
  background-color: white;
  font-size: 90%;
}

.table-mod .bool {
  color: red;
  cursor: pointer;
}

.table-mod .bool.on {
  color: green;
}

.modal-ok {
  position: absolute;
  bottom: 8%;
  left: 14%;
  height: auto;
  width: 30%;
}

.modal-cancel {
  position: absolute;
  bottom: 8%;
  right: 14%;
  height: auto;
  width: 30%;
}

.opt-head {
  position: absolute;
  text-align: center;
  width: 100%;
  color: black;
  top: 6%;
  font-size: 140%;
}

.opt-bank {
  position: absolute;
  color: black;
  top: 22%;
  left: 30%;
}

.opt-bval {
  position: absolute;
  color: black;
  top: 22%;
  left: 56%;
}

.opt-rebuy {
  position: absolute;
  color: black;
  top: 34%;
  left: 30%;
}

.opt-reval {
  position: absolute;
  color: black;
  top: 34%;
  left: 56%;
} 

.opt-amtl {
  position: absolute;
  color: black;
  top: 46%;
  text-align: left;
  width: 20%;
  height: 10%;
  left: 30%;
}

.opt-amt {
  position: absolute;
  color: black;
  top: 43%;
  width: 22%;
  height: 14%;
  text-align: center;
  right: 29%;
  border: 0;
}

.opt-sld {
  position: absolute;
  color: black;
  top: 62%;
  width: 40%;
  left: 30%;
}

.table-mes {
  position: absolute;
  top: 36%;
  width: 100%;
  text-align: center;
  color: black;
}

.table-wall { 
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("/img/wall.png");
}

.header-main {
  position: absolute;
  width: 100%;
  height: 6%;
  background-color: #070808;
}

.header-info {
  position: absolute;
  left: 1%;
  top: 1%;
  font-size: 110%;
  color: white;
}

.choice-info {
  top: 1%;
  display: inline-block;
}

.header-icon {
  position: absolute;
  width: 5%;
  height: 7%;
  top: .2%;
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header-icon-min {
  background-image: url("/img/buttons/min.png");
}

.header-icon-max {
  background-image: url("/img/buttons/max.png");
}

.header-icon-resize {
  right: 7%;
}

.header-icon-close {
  right: 1%;
  background-image: url("/img/buttons/close.png");
}

.header-icon-low {
  right: 8.8%;
  background-image: url("/img/buttons/low.png");
}

.chat-input {
  position: absolute;
  width: 33%;
  height: 3.6%;
  bottom: 14.7%;
  left: .2%;
  font-size: 80%;
  padding-top: .2%;
  padding-left: 1%;
  background-color: white;
  border: 1px solid black;
}

.chat-msg {
  position: relative;
  padding-top: .1%;
  font-size: 90%
}

.chat-box {
  position: absolute;
  width: 46%;
  height: 14%;
  bottom: .2%;
  left: .2%;
  background-color: white;
  color: black;
  overflow-y: scroll;
  padding-left: 1%;
  border: 1px solid black;
}

.action {
  position: absolute;
  width: 15.5%;
  height: 9.5%;
  top: 90%;
  text-align: center;
  color: #FFF;
  font-size: 110%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/action.png");
  cursor: default;
}

.action[no='0'] {
  left: 48%;
  padding-top: 0%;
  display: none;
}

.action[no='1'] {
  left: 65%;
  display: none;
}

.action[no='2'] {
  left: 82%;
  display: none;
}

.bet-slider {
  position: absolute;
  width: 15%;
  height: 2%;
  left: 81%;
  top: 84%;
  display: none;
}

.bet-amount {
  position: absolute;
  width: 9.6%;
  height: 5%;
  left: 68%;
  font-size: 90%;
  text-align: center;
  top: 82.8%;
  display: none;
  border: 1px;
}

.board {
  position: absolute;
  height: 50%;
  width: 72.5%;
  top: 20%;
  left: 13.75%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/table.png");
}

/* chip stacking */

.chip {
  width: 2.75%;
  height: 3.5%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
}

.pot-stack,
.pot-stack .chip,
.pot-stack .size {
  left: 45%;
  top: 24%;
}

.pot {
  position: absolute;
  display: block;
  text-align: center;
  width: 14%;
  left: 43%;
  top: 34%;
  font-weight: bold;
  color: #FFF;
}

.stack .chip5000000 {
  background-image: url("/img/chips/chip-500000000.png");
}
.stack .chip1000000 {
  background-image: url("/img/chips/chip-100000000.png");
}
.stack .chip500000 {
  background-image: url("/img/chips/chip-50000000.png");
}
.stack .chip10000000 {
  background-image: url("/img/chips/chip-10000000.png");
}
.stack .chip5000000 {
  background-image: url("/img/chips/chip-5000000.png");
}
.stack .chip2500000 {
  background-image: url("/img/chips/chip-2500000.png");
}
.stack .chip500000 {
  background-image: url("/img/chips/chip-500000.png");
}
.stack .chip100000 {
  background-image: url("/img/chips/chip-100000.png");
}
.stack .chip50000 {
  background-image: url("/img/chips/chip-50000.png");
}
.stack .chip10000 {
  background-image: url("/img/chips/chip-10000.png");
}
.stack .chip2500 {
  background-image: url("/img/chips/chip-2500.png");
}
.stack .chip500 {
  background-image: url("/img/chips/chip-500.png");
}
.stack .chip100 {
  background-image: url("/img/chips/chip-100.png");
}
.stack .chip50 {
  background-image: url("/img/chips/chip-50.png");
}
.stack .chip25 {
  background-image: url("/img/chips/chip-25.png");
}
.stack .chip5 {
  background-image: url("/img/chips/chip-5.png");
}
.stack .chip1 {
  background-image: url("/img/chips/chip-1.png");
}


.stack2 .chip {
  margin-left: 3.6%;
}
.stack3 .chip {
  margin-left: 7.2%;
}
.stack4 .chip {
  margin-left: 10.8%;
}
.stack5 .chip {
  margin-left: 14.2%;
}
.stack6 .chip {
  margin-left: 17.8%;
}

.stack .chip[pos='5'] {
  margin-top: 0%;
  z-index: 6;
}

.stack .chip[pos='4'] {
  margin-top:.8%;
  z-index: 5;
}

.stack .chip[pos='3'] {
  margin-top: 1.9%;
  z-index: 4;

}.stack .chip[pos='2'] {
  margin-top: 2.6%;
  z-index: 3;
}

.stack .chip[pos='1'] {
  margin-top: 3.3%;
  z-index: 2;
}

.stack .chip[pos='0'] {
  margin-top: 4%;
  z-index: 1;
}

/* button positioning */

.seat .button {
  z-index: 2;
  width: 3%;
  height: 3.5%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/button.png");
}

/*.table[chair-count='6'] .seat[pos='0'] .button {*/
.table .seat[pos='0'] .button {
  left: 58%;
  top: 63%;
}
.table[chair-count='6'] .seat[pos='1'] .button {
  left: 28%;
  top: 59%;
}
.table[chair-count='6'] .seat[pos='2'] .button {
  left: 17%;
  top: 35%;
}
/*.table[chair-count='6'] .seat[pos='3'] .button { */
.table[chair-count='10'] .seat[pos='5'] .button, 
.table[chair-count='2'] .seat[pos='1'] .button, 
.table[chair-count='6'] .seat[pos='3'] .button {
  left: 38%;
  top: 24%;
}
.table[chair-count='6'] .seat[pos='4'] .button {
  left: 76%;
  top: 33%;
}
.table[chair-count='6'] .seat[pos='5'] .button {
  left: 74%;
  top: 56%;
}

.table[chair-count='10'] .seat[pos='1'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='2'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='3'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='4'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='6'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='7'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='8'] .button {
  left: 74%;
  top: 56%;
}
.table[chair-count='10'] .seat[pos='9'] .button {
  left: 74%;
  top: 56%;
}

.seat .seated-clear {
  z-index: 13;
  position: absolute;
  width: 18.75%;
  height: 8.5%;
  opacity: 0;
}
.seat .seated-graphic {
  z-index: 10;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18.75%;
  height: 8.5%;
}

/*.seat .seated-graphic {
  z-index: 10;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 18.75%;
  height: 8.5%;
}
*/

.table .seat[pos='0'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='6'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='7'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='8'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='9'] .seated-graphic, 
.table[chair-count='6'] .seat[pos='4'] .seated-graphic, 
.table[chair-count='6'] .seat[pos='5'] .seated-graphic {
  background-image: url("/img/title_left.png");
}

/* .table[chair-count='6'] .seat[pos='0'].active .seated-graphic, */
.table .seat[pos='0'].active .seated-graphic,
.table[chair-count='10'] .seat[pos='6'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='7'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='8'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='9'].active .seated-graphic, 
.table[chair-count='6'] .seat[pos='4'].active .seated-graphic,
.table[chair-count='6'] .seat[pos='5'].active .seated-graphic {
  background-image: url("/img/title_left_active.png");
}

.table[chair-count='10'] .seat[pos='1'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='2'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='3'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='4'] .seated-graphic, 
.table[chair-count='10'] .seat[pos='5'] .seated-graphic, 
.table[chair-count='2'] .seat[pos='1'] .seated-graphic, 
.table[chair-count='6'] .seat[pos='1'] .seated-graphic, 
.table[chair-count='6'] .seat[pos='2'] .seated-graphic, 
.table[chair-count='6'] .seat[pos='3'] .seated-graphic {
  background-image: url("/img/title_right.png");
}

.table[chair-count='10'] .seat[pos='1'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='2'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='3'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='4'].active .seated-graphic, 
.table[chair-count='10'] .seat[pos='5'].active .seated-graphic, 
.table[chair-count='2'] .seat[pos='1'].active .seated-graphic, 
.table[chair-count='6'] .seat[pos='1'].active .seated-graphic, 
.table[chair-count='6'] .seat[pos='2'].active .seated-graphic, 
.table[chair-count='6'] .seat[pos='3'].active .seated-graphic {
  background-image: url("/img/title_right_active.png");
}

.seat .game-action {
  z-index: 12;
  position: absolute;
  margin-top: 1.4%;
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  width: 11%;
  height: 100%;
  color: #FFF;
}

.table[chair-count='10'] .seat[pos='1'] .game-action, 
.table[chair-count='10'] .seat[pos='2'] .game-action, 
.table[chair-count='10'] .seat[pos='3'] .game-action, 
.table[chair-count='10'] .seat[pos='4'] .game-action, 
.table[chair-count='10'] .seat[pos='5'] .game-action, 
.table[chair-count='2'] .seat[pos='1'] .game-action, 
.table[chair-count='6'] .seat[pos='1'] .game-action, 
.table[chair-count='6'] .seat[pos='2'] .game-action, 
.table[chair-count='6'] .seat[pos='3'] .game-action {
  margin-left: 1.6%;
}

/*.table[chair-count='6'] .seat[pos='0'] .game-action, */
.table .seat[pos='0'] .game-action,
.table[chair-count='10'] .seat[pos='6'] .game-action,
.table[chair-count='10'] .seat[pos='7'] .game-action,
.table[chair-count='10'] .seat[pos='8'] .game-action,
.table[chair-count='10'] .seat[pos='9'] .game-action,
.table[chair-count='6'] .seat[pos='4'] .game-action,
.table[chair-count='6'] .seat[pos='5'] .game-action {
  margin-left: 6.3%;
}

.seat .avitar-graphic {
  z-index: 11;
  width: 6.375%;
  height: 8.5%;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("/img/avitar_default.png");
  border-radius: 50%;
}

.table[chair-count='10'] .seat[pos='1'] .avitar-graphic,
.table[chair-count='10'] .seat[pos='2'] .avitar-graphic,
.table[chair-count='10'] .seat[pos='3'] .avitar-graphic,
.table[chair-count='10'] .seat[pos='4'] .avitar-graphic,
.table[chair-count='10'] .seat[pos='5'] .avitar-graphic,
.table[chair-count='2'] .seat[pos='1'] .avitar-graphic,
.table[chair-count='6'] .seat[pos='1'] .avitar-graphic,
.table[chair-count='6'] .seat[pos='2'] .avitar-graphic,
.table[chair-count='6'] .seat[pos='3'] .avitar-graphic {
  margin-left: 12.5%;
}

.seat .titlebar {
  z-index: 11;
  position: absolute;
  margin-top: .5%;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
  width: 12%;
  color: #FFF;
}

.table[chair-count='2'] .seat[pos='1'] .titlebar,
.table[chair-count='6'] .seat[pos='1'] .titlebar,
.table[chair-count='6'] .seat[pos='2'] .titlebar,
.table[chair-count='6'] .seat[pos='3'] .titlebar,
.table[chair-count='10'] .seat[pos='1'] .titlebar,
.table[chair-count='10'] .seat[pos='2'] .titlebar,
.table[chair-count='10'] .seat[pos='3'] .titlebar,
.table[chair-count='10'] .seat[pos='4'] .titlebar,
.table[chair-count='10'] .seat[pos='5'] .titlebar,
.table[chair-count='2'] .seat[pos='1'] .chips,
.table[chair-count='10'] .seat[pos='1'] .chips,
.table[chair-count='10'] .seat[pos='2'] .chips,
.table[chair-count='10'] .seat[pos='3'] .chips,
.table[chair-count='10'] .seat[pos='4'] .chips,
.table[chair-count='10'] .seat[pos='5'] .chips,
.table[chair-count='6'] .seat[pos='1'] .chips,
.table[chair-count='6'] .seat[pos='2'] .chips,
.table[chair-count='6'] .seat[pos='3'] .chips {
  margin-left: 1%;
}

/* .table[chair-count='6'] .seat[pos='0'] .titlebar, */
.table .seat[pos='0'] .titlebar,
.table[chair-count='10'] .seat[pos='6'] .titlebar,
.table[chair-count='10'] .seat[pos='7'] .titlebar,
.table[chair-count='10'] .seat[pos='8'] .titlebar,
.table[chair-count='10'] .seat[pos='9'] .titlebar,
.table[chair-count='6'] .seat[pos='4'] .titlebar,
.table[chair-count='6'] .seat[pos='5'] .titlebar,
.table .seat[pos='0'] .chips,
.table[chair-count='10'] .seat[pos='6'] .chips,
.table[chair-count='10'] .seat[pos='7'] .chips,
.table[chair-count='10'] .seat[pos='8'] .chips,
.table[chair-count='10'] .seat[pos='9'] .chips,
.table[chair-count='6'] .seat[pos='4'] .chips,
.table[chair-count='6'] .seat[pos='5'] .chips {
  margin-left: 6%;
}

.seat .chips {
  z-index: 11;
  position: absolute;
  width: 11%;
  text-align: center;
  font-size: 90%;
  margin-left: 7%;
  padding-top: 3.5%;
  color: #FFF;
}

.seat[status='open'] .open-graphic {
  z-index: 1;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 6.375%;
  height: 8.5%;
  margin-left: 6%;
  cursor: pointer;
  background-image: url("/img/open.png");
}

.table[chair-count='2'] .seat[pos='1'] .open-graphic,
.table[chair-count='6'] .seat[pos='3'] .open-graphic {
  margin-top: -2.6%;
}

.table .seat .card {
  margin-top: -5.6%;
}
.table .seat .card[hole='0'] {
  z-index: 1;
}
.table .seat .card[hole='1'] {
  z-index: 2;
}
.table .seat .card[hole='2'] {
  z-index: 3;
}
.table .seat .card[hole='3'] {
  z-index: 4;
}
.table .seat .card[hole='4'] {
  z-index: 5;
}
.table .seat .card[hole='5'] {
  z-index: 6;
}
.table .seat .card[hole='6'] {
  z-index: 7;
}

.table[game-choice='sevenstud'] .seat .card[hole='0'], 
.table[game-choice='sevenstud'] .seat .card[hole='1'], 
.table[game-choice='sevenstud'] .seat .card[hole='6'], 
.table[game-choice='bitch'] .seat .card[hole='0'],
.table[game-choice='bitch'] .seat .card[hole='1'],
.table[game-choice='bitch'] .seat .card[hole='6'],
.table[game-choice='ftq'] .seat .card[hole='0'],
.table[game-choice='ftq'] .seat .card[hole='1'],
.table[game-choice='ftq'] .seat .card[hole='6'],
.table[game-choice='sevenstudjokers'] .seat .card[hole='0'],
.table[game-choice='sevenstudjokers'] .seat .card[hole='1'],
.table[game-choice='sevenstudjokers'] .seat .card[hole='6'],
.table[game-choice='highchicago'] .seat .card[hole='0'],
.table[game-choice='highchicago'] .seat .card[hole='1'],
.table[game-choice='highchicago'] .seat .card[hole='6'],
.table[game-choice='sevenstudhilo'] .seat .card[hole='0'],
.table[game-choice='sevenstudhilo'] .seat .card[hole='1'],
.table[game-choice='sevenstudhilo'] .seat .card[hole='6'],
.table[game-choice='razz'] .seat .card[hole='0'],
.table[game-choice='razz'] .seat .card[hole='1'],
.table[game-choice='razz'] .seat .card[hole='6'] {
  margin-top: -4.6%;
}

/*
.table[game-choice='sevenstud'] .seat .card[hole='1'] {  
  margin-top: -4.6%;
}
.table[game-choice='sevenstud'] .seat .card[hole='6'] {
  margin-top: -4.6%;
}
*/

/* default card position */

.table .seat .card[hole='0'] {
  margin-left: 2.625%;
}

.table .seat .card[hole='1'] {
  margin-left: 9.375%;
}

/* three cards */

.table .seat[hole_count='3'] .card[hole='0'] {
  margin-left: .75% 
}

.table .seat[hole_count='3'] .card[hole='1'] {
  margin-left: 6%;
}

.table .seat[hole_count='3'] .card[hole='2'] {
  margin-left: 11.25%;
}

/* four cards */

.table .seat[hole_count='4'] .card[hole='0'] {
  margin-left: .75%;
}

.table .seat[hole_count='4'] .card[hole='1'] {
  margin-left: 4.25%;
}

.table .seat[hole_count='4'] .card[hole='2'] {
  margin-left: 7.75%;
}

.table .seat[hole_count='4'] .card[hole='3'] {
  margin-left: 11.25%;
}

/* five cards */

.table .seat[hole_count='5'] .card[hole='0'] {
  margin-left: .5%;
}

.table .seat[hole_count='5'] .card[hole='1'] {
  margin-left: 3.25%;
}

.table .seat[hole_count='5'] .card[hole='2'] {
  margin-left: 6%;
}

.table .seat[hole_count='5'] .card[hole='3'] {
  margin-left: 8.75%;
}

.table .seat[hole_count='5'] .card[hole='4'] {
  margin-left: 11.5%;
}

/* six cards */

.table .seat[hole_count='6'] .card[hole='0'] {
  margin-left: -1%;
}

.table .seat[hole_count='6'] .card[hole='1'] {
  margin-left: 1.8%;
}

.table .seat[hole_count='6'] .card[hole='2'] {
  margin-left: 4.6%;
}

.table .seat[hole_count='6'] .card[hole='3'] {
  margin-left: 7.4%;
}

.table .seat[hole_count='6'] .card[hole='4'] {
  margin-left: 10.2%;
}

.table .seat[hole_count='6'] .card[hole='5'] {
  margin-left: 13%;
}

/* seven cards */

.table .seat[hole_count='7'] .card[hole='0'] {
  margin-left: -2.25%;
}

.table .seat[hole_count='7'] .card[hole='1'] {
  margin-left: .5%;
}

.table .seat[hole_count='7'] .card[hole='2'] {
  margin-left: 3%;
}

.table .seat[hole_count='7'] .card[hole='3'] {
  margin-left: 5.75%;
}

.table .seat[hole_count='7'] .card[hole='4'] {
  margin-left: 8.5%;
}

.table .seat[hole_count='7'] .card[hole='5'] {
  margin-left: 11.25%;
}

.table .seat[hole_count='7'] .card[hole='6'] {
  margin-left: 14%;
}

/* dealers choice */

.dealer-select {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%; 
  height: 6%; 
}

/* shoe */

.shoe {
  top: 5%;
  left: 26%;
}

.community .com0 {
  top: 39%;
  left: 31%;
}

.community .com1 {
  top: 39%;
  left: 39%;
}

.community .com2 {
  top: 39%;
  left: 47%;
}

.community .com3 {
  top: 39%;
  left: 55%;
}

.community .com4 {
  top: 39%;
  left: 63%;
}

/* 6max */

.stack .size {
  position: absolute;
  display: block;
  text-align: center;
  margin-top: 7.5%;
  font-size: 90%;
  font-weight: bold;
  color: #FFF;
}

.seat[pos='0'] .chip, .seat[pos='0'] .size {
  left: 48%;
  top: 51%;
}
.table[chair-count='6'] .seat[pos='1'] .chip, 
.table[chair-count='6'] .seat[pos='1'] .size {
  left: 21%;
  top: 45%;
}
.table[chair-count='6'] .seat[pos='2'] .chip, 
.table[chair-count='6'] .seat[pos='2'] .size {
  left: 26%;
  top: 23%;
}
.table[chair-count='10'] .seat[pos='5'] .chip, 
.table[chair-count='10'] .seat[pos='5'] .size, 
.table[chair-count='2'] .seat[pos='1'] .chip, 
.table[chair-count='2'] .seat[pos='1'] .size,
.table[chair-count='6'] .seat[pos='3'] .chip, 
.table[chair-count='6'] .seat[pos='3'] .size {
  left: 49%;
  top: 20%;
}
.table[chair-count='6'] .seat[pos='4'] .chip, 
.table[chair-count='6'] .seat[pos='4'] .size {
  left: 66%;
  top: 22%;
}
.table[chair-count='6'] .seat[pos='5'] .chip, 
.table[chair-count='6'] .seat[pos='5'] .size {
  left: 72%;
  top: 42%;
}

.table[chair-count='10'] .seat[pos='1'] .chip, 
.table[chair-count='10'] .seat[pos='1'] .size {
  left: 72%;
  top: 42%;
}

.table[chair-count='10'] .seat[pos='2'] .chip, 
.table[chair-count='10'] .seat[pos='2'] .size {
  left: 72%;
  top: 42%;
}

.table[chair-count='10'] .seat[pos='3'] .chip, 
.table[chair-count='10'] .seat[pos='3'] .size {
  left: 72%;
  top: 42%;
}

.table[chair-count='10'] .seat[pos='4'] .chip, 
.table[chair-count='10'] .seat[pos='4'] .size {
  left: 72%;
  top: 42%;
}

.table[chair-count='10'] .seat[pos='6'] .chip, 
.table[chair-count='10'] .seat[pos='6'] .size {
  left: 67%;
  top: 21%;
}

.table[chair-count='10'] .seat[pos='7'] .chip, 
.table[chair-count='10'] .seat[pos='7'] .size {
  left: 72%;
  top: 42%;
}

.table[chair-count='10'] .seat[pos='8'] .chip, 
.table[chair-count='10'] .seat[pos='8'] .size {
  left: 72%;
  top: 42%;
}
.table[chair-count='10'] .seat[pos='9'] .chip, 
.table[chair-count='10'] .seat[pos='9'] .size {
  left: 72%;
  top: 42%;
}

/* 6max */

/*.table[chair-count='6'] .seat[pos='0'] > * { */
.table .seat[pos='0'] > * {
  top: 72%;
  left: 40%;
}

.table[chair-count='6'] .seat[pos='1'] > * {
  top: 60%;
  left: 3%;
}

.table[chair-count='6'] .seat[pos='2'] > * {
  top: 23%;
  left: 3%;
}

.table[chair-count='2'] .seat[pos='1'] > *,
.table[chair-count='6'] .seat[pos='3'] > *,
.table[chair-count='10'] .seat[pos='5'] > * {
  top: 13%;
  left: 40%;
}

.table[chair-count='6'] .seat[pos='4'] > * {
  top: 23%;
  left: 78%;
}

.table[chair-count='6'] .seat[pos='5'] > * {
  top: 60%;
  left: 79%;
}

/* 10-max */

.table[chair-count='10'] .seat[pos='1'] > * {
  top: 67%;
  left: 19%;
}

.table[chair-count='10'] .seat[pos='2'] > * {
  top: 53%;
  left: 4%;
}

.table[chair-count='10'] .seat[pos='3'] > * {
  top: 30%;
  left: 4%;
}

.table[chair-count='10'] .seat[pos='4'] > * {
  top: 16%;
  left: 19%;
}

.table[chair-count='10'] .seat[pos='6'] > * {
  top: 16%;
  left: 61%;
}

.table[chair-count='10'] .seat[pos='7'] > * {
  top: 30%;
  left: 78%;
}

.table[chair-count='10'] .seat[pos='8'] > * {
  top: 53%;
  left: 78%;
}

.table[chair-count='10'] .seat[pos='9'] > * {
  top: 67%;
  left: 61%;
}

/*
.table[chair-count='10'] .seat[pos='5'] > * {
  top: 60%;
  left: 79%;
}
*/

